/** Общие стили **/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
} 

*, 
*::after, 
*::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #000000;
    line-height: 26px;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto; 
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.background-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 14px 2px #dbdbdb;
            box-shadow: 0 0 14px 2px #dbdbdb;
}

/** --------------------- СТИЛИ ДЛЯ НАВИГАЦИИ И ЛОГО ---------------------- **/

.main-navigation,
.catalog-navigation {
    font-size: 14px;
    line-height: 26px;
}

.main-header-logo,
.catalog-header-logo {
    position: absolute;
    width: 244px;
    height: 56px;
    
    padding: 0;
    margin: 0 478px;

    text-align: center;
}

.site-navigation {
    margin: 0;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    list-style: none;
}

.site-navigation li {
    width: 239px;
    height: 56px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: right;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
}

.site-navigation a {
    margin: 0;
    padding: 0;

    font-weight: bold;
    color: #000000;

    border: none;
    outline: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
    color: rgba(0,0,0,30%);
}

li.current-page {
    display: block;
    
    margin-right: 30px;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 0;

    font-weight: bold;
    color: #766357;
}

/** --------------------- СТИЛИ ДЛЯ ГЛАВНОЙ ---------------------- **/

.background-logo {
    height: 508px;
    
    background-image: 
    url("../img/bg/bg-welcome.svg"), 
    url("../img/bg/bg-polygon.svg"),
    url("../img/bg/bg-mountains.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 371px 76px, 0 452px, 0 -56px;
    background-size: 459px 353px, 1201px 59px, 1200px 773px;
}

.advantages {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.advantages-lead-in-wrapper {
    padding-top: 60px;
    padding-bottom: 50px;

    line-height: 26px;
}

.advantages-slogan {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 29px;

    font-size: 21px;
    font-weight: bold;
}

.advantages-lead-in {
    width: 500px;
    margin: 0 auto;
}

.advantages-list,
.features-item,
.footer-social-list {
    list-style: none;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
}

.advantages-item-unit.wrapper {
    padding-top: 46px;
    padding-bottom: 59px;

    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-item-unit {
    width: 400px;
    padding-top: 48px;
    padding-bottom: 60px;
}

.advantages-item-name,
.features-item-name {
    font-size: 21px;
    font-weight: bold;
}

.advantages-item-name {
    width: 155px;
    margin: 0 auto;
    margin-bottom: 23px;
}
    
.advantages-item-number {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 23px;
}

.advantages-item-decription {
    width: 308px;
    margin: 0 auto;
}

.advantages-item-photo.bridge {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
}

.advantages-item-photo img {
    display: block;
}

.advantages-item-wrapper {
	padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #eeeeee;
}

.advantages-item-wrapper .advantages-item-decription {
    width: 280px;
}

.advantages-item-wrapper .advantages-item-unit {
    padding-top: 46px;
    padding-bottom: 59px;
}

.features-list {
    margin: 0;
    padding: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.features-item {
    width: 400px;
    padding-top: 160px;
    padding-bottom: 83px;
}

.features-item-name {
    position: relative;

    margin: 0;
    margin-bottom: 25px;
}

.features-list li:nth-child(1) .features-item-name::before {
    content: "";

    position: absolute;
    top: -100px;
    left: 162px;
    width: 75px;
    height: 72px;

    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-list li:nth-child(2) .features-item-name::before {
    content: "";

    position: absolute;
    top: -100px;
    left: 163px;
    width: 74px;
    height: 70px;

    background-image: url("../img/icons/icon-food.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-list li:nth-child(3) .features-item-name::before {
    content: "";

    position: absolute;
    top: -105px;
    left: 168px;
    width: 64px;
    height: 76px;

    background-image: url("../img/icons/icon-souvenir.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-item-description {
    width: 304px;
    margin: 0 auto;
}

.search {
    position: relative;
    padding-top: 54px;
}

.search-lead-in {
    margin: 0;
    margin-bottom: 26px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.search .search-description {
    margin: 0;
    margin-bottom: 48px;

    font-size: 14px;
    text-align: center;
}

.search-call-button {
    display: block;
    width: 568px;

    margin: 0 auto;
    padding: 31px 0;

    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: inherit;
    background-color: #766357;
    border: none;
    outline: none;
}

.search-call-button:hover,
.search-call-button:focus {
    background-color: #604e43;
}

.search-call-button:active {
    color: #857871;
    color: rgba(255, 255, 255, 30%);
    background-color: #503e33;
}

.main-map img {
    display: block;
}

.modal-search {
    position: absolute;
    top: 291px;
    left: 50%;

    width: 568px;
    margin-left: -284px;
    padding: 55px;

    font-weight: bold;
    font-size: 14px;
    
    background-color: #ffffff;
}
.modal-search p {
    margin: 0;
}

.date-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
}

.date-appointment {
    width: 100px;
}

.date-select input[type="text"],
.visiters-select input[type="number"] {
    font-family: inherit;
    text-transform: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    background-color: #f2f2f2;
    outline: none;
    border: none;
}

.date-select input[type="text"] {
    width: 346px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 30px;
}

.date-select input[type="text"]:hover {
    background-color: #ebebeb;
}

.date-select input[type="text"]:focus {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
            box-shadow: inset 0 0 0 2px #e5e5e5;
}

.date-field {
    position: relative;
}

button.calendar-select {
    position: absolute;
    top: 8px;
    right: 9px;

    width: 21px;
    height: 22px;

    background-color: transparent;
    border: none;
    outline: none;

    background-image: url("../img/icons/icon-calendar.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

button.calendar-select:hover,
button.calendar-select:focus {
    background-image: url("../img/icons/icon-calendar-hover.svg");
    background-repeat: no-repeat;
}

button.calendar-select:active {
    background-image: url("../img/icons/icon-calendar-active.svg");
    background-repeat: no-repeat;
}

.visiters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 54px;
}

.visiters-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 226px;
}

.visiters-adults {
    width: 69px;
}

.visiters-kids {
    width: 35px;
    margin-left: 47px;
}

input.adults-number,
input.kids-number {
    width: 38px;
    height: 38px;
    padding: 6px 14px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

button.visiters-number-less, 
button.visiters-number-more {
    position: relative;

    width: 38px;
    height: 38px;
    
    padding: 0;
    margin: 0;

    background-color: #f2f2f2;
    border: none;
    outline: none;
}

button.visiters-number-less {
    margin-left: auto;
}

button.visiters-number-less::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 13px;

    width: 12px;
    height: 3px;

    background-color: #a9a9a9;

    cursor: pointer;
}

button.visiters-number-less:hover::before,
button.visiters-number-less:focus::before {
    background-color: #000000;
}

button.visiters-number-less:active::before {
    background-color: #81b3d2;
}

button.visiters-number-more::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 13px;

    width: 12px;
    height: 3px;

    background-color: #a9a9a9;

    cursor: pointer;
}

button.visiters-number-more::after {
    content: "";

    position: absolute;
    top: 18px;
    left: 13px;

    width: 12px;
    height: 3px;
    
    background-color: #a9a9a9;

    -webkit-transform: rotate(90deg);

        -ms-transform: rotate(90deg);

            transform: rotate(90deg);

    cursor: pointer;
}

button.visiters-number-more:hover::before,
button.visiters-number-more:hover::after,
button.visiters-number-more:focus::before,
button.visiters-number-more:focus::after {
    background-color: #000000;
}

button.visiters-number-more:active::before,
button.visiters-number-more:active::after {
    background-color: #81b3d2;
}

.modal-search .search-button {
    margin: 0;
    padding: 16px 196px;

    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: inherit;
    line-height: 26px;
    background-color: #81b3d2;

    border: none;
    outline: none;
}

.modal-search .search-button:hover,
.modal-search .search-button:focus {
    background-color: #669ec0;
}

.modal-search .search-button:active {
    color: #88b6d1;
    color: rgba(255, 255, 255, 30%);
    background-color: #5496bd;
}

/** --------------------- СТИЛИ ДЛЯ СТРАНИЦЫ КАТАЛОГА ---------------------- **/

.hotels-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 72px;
    padding-right: 72px;

    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    
    background-image: url("../img/bg/bg-catalog.jpg");
    background-size: 1200px 562px;
    background-position: 0 -60px;
    background-repeat: no-repeat;
  }

.filter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filter-conditions-title,
.filter-type-title {
    width: 150px;

    margin: 0;
    margin-bottom: 25px;

    font-weight: bold;
}

.filter-conditions,
.filter-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.filter-range {
    width: 318px;
}

.filter-range-title {
    margin: 0;
    margin-bottom: 9px;

    font-weight: bold;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price {
    padding-left: 65px;
}

.price-controls .max-price {
    padding-left: 75px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    padding: 0;

    color: inherit;
    font: inherit;
    vertical-align: top;
    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -8px;
  
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover {
    color: #000000;

    background: #ffffff;
}

.hotels-results-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;

    border-bottom: 1px solid #e5e5e5;
}

p.resuts-number {
    margin: 0;

    font-weight: bold;
}

.sorting-title {
    margin: 0;

    font-size: 12px;
    line-height: 18px;
}

.sorting-type-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    font-size: 12px;
    line-height: 18px;

    list-style: none;
}

.sorting-btn-wrap {
    margin-left: auto;
}

.hotels-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hotels-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;

    border-bottom: 1px solid #e5e5e5;
}

.hotels-card-photo img {
    display: block;
}

.hotels-info {
    padding-left: 30px;
}

.hotels-name {
    margin: 0;
    margin-bottom: 8px;

    font-size: 21px;
}

.hotels-name a {
    display: block;

    margin-top: -5px;

    color: inherit;
}

.hotels-name a:hover,
.hotels-name a:focus {
    color: #81b3d2;
}

.hotels-name a:active {
    color: #b2b2b2;
}

.hotels-type-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    width: 182px;

    margin-bottom: 12px;
}

.hotels-type,
.hotels-price {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.hotels-book {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    
    margin-top: auto;
}

a.button-book, 
a.button-details {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: #ffffff;
}

a.button-details {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;

    background-color: #81b3d2;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: #88b6d1;
    color: rgba(255, 255, 255, 30%);
    background-color: #5496bd;
}

a.button-book {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;
    
    margin-left: 6px;
    background-color: #766357;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: #857871;
    color: rgba(255, 255, 255, 30%);
    background-color: #503e33;
}

.hotels-rank {
    margin-left: auto;
    position: relative;
}

.hotels-stars {
    width: 18px;
    height: 17px;
    
    margin: 0;

    position: absolute;
    top: 0;
    right: 0;

    background-image: url("../img/icons/icon-star.svg");
    background-repeat: space;
}

p.stars-number-4 {
    width: 89px;
}

p.stars-number-3 {
    width: 64px;
}

p.stars-number-2 {
    width: 40px;
}

p.hotels-rating {
    display: block;

    margin: 0;
    margin-top: 64px;
    padding-top: 3px;
    padding-right: 13px;
    padding-bottom: 2px;
    padding-left: 16px;

    font-size: 14px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
}



/** --------------------- СТИЛИ ДЛЯ ФУТЕРА ---------------------- **/

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;

    background-color: rgba(254, 254, 254, 0.9);
}

.container {
    position: absolute;
    bottom: 0;
}

.footer-tag {
    width: 400px;
    margin: 0;
}

.footer-tag a {
    display: block;
    
    width: 130px;
    margin: 0 auto;
    padding: 0;

    font-weight: bold;
    color: inherit;
}

.footer-social {
    width: 400px;
}

.footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin: 0;
    padding: 0;
}

.footer-social-list li:not(:first-child) {
    margin-left: 6px;
}

.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 46px;
    height: 48px;
    margin: 0;
    padding: 0;

    background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active path {
    fill: #88b6d1;
    fill: rgba(255,255,255,30%);
}

.footer-copyright {
    width: 400px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path {
    fill: #81b3d2;
}

.footer-copyright a:active path {
    fill: #bdbbbc;
}

.footer-copyright span {
    margin: 0 10px 6px 0;

    font-size: 14px;
}