/** Общие стили **/

html {
    box-sizing: border-box;
} 

*, 
*::after, 
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #000000;
    line-height: 26px;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto; 
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
}

/** --------------------- СТИЛИ ДЛЯ НАВИГАЦИИ И ЛОГО ---------------------- **/

.main-navigation,
.catalog-navigation {
    font-size: 14px;
    line-height: 26px;
}

.main-header-logo,
.catalog-header-logo {
    position: absolute;
    width: 244px;
    height: 56px;
    
    padding: 0;
    margin: 0 478px;

    text-align: center;
}

.site-navigation {
    margin: 0;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;

    display: flex;
    list-style: none;
}

.site-navigation li {
    width: 239px;
    height: 56px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: right;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
}

.site-navigation a {
    margin: 0;
    padding: 0;

    font-weight: bold;
    color: #000000;

    border: none;
    outline: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

li.current-page {
    display: block;
    
    margin-right: 30px;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 42px;

    font-weight: bold;
    color: #766357;
}

/** --------------------- СТИЛИ ДЛЯ ГЛАВНОЙ ---------------------- **/

.background-logo {
    min-height: 508px;
    margin: 0 auto;
    padding: 0;
    
    background-image: 
    url("../img/bg/bg-welcome.svg"), 
    url("../img/bg/bg-polygon.svg"),
    url("../img/bg/bg-mountains.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 371px 76px, 0 452px, 0 -56px;
    background-size: 459px 353px, 1201px 59px, 1200px 773px;
}


.advantages {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.advantages-lead-in-wrapper {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 50px;

    line-height: 26px;
}

.advantages-slogan {
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 0;
    margin-bottom: 30px;

    font-size: 21px;
    font-weight: bold;
}

.advantages-lead-in {
    margin: 0 356px;

    font-size: 14px;
}

.advantages-list,
.features-item,
.footer-social-list {
    list-style: none;
}

.advantages-list {
    margin: 0;
    padding: 0;
}

.advantages-item {
    display: flex;
    align-items: center;
}

.advantages-item-unit.wrapper {
    margin: 0;
    padding: 0;
    padding-top: 44px;
    padding-bottom: 65px;

    color: #ffffff;
    background-color: #81b3d2;
}

.advantages-item-unit {
    width: 400px;
    padding-top: 48px;
    padding-bottom: 62px;
}

.advantages-item-name,
.features-item-name {
    font-size: 21px;
    font-weight: bold;
}

.advantages-item-name {
    width: 155px;
    margin: 0 auto;
    margin-bottom: 22px;
}
    
.advantages-item-number {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 22px;
}

.advantages-item-decription {
    width: 308px;
    margin: 0 auto;
}

.advantages-item-photo.bridge {
    order: -1;
}

.advantages-item-photo img {
    display: block;
}

.advantages-item-wrapper {
    display: flex;

    background-color: #eeeeee;
}

.advantages-item-wrapper .advantages-item-decription {
    width: 280px;
}

.features-list {
    width: 1200px;
    margin: 0;
    padding: 0;

    display: flex;
}

.features-item {
    width: 400px;
    padding-top: 160px;
    padding-bottom: 83px;
}

.features-item-name {
	position: relative;

    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.features-list li:nth-child(1) .features-item-name::before {
    content: "";

    position: absolute;
    top: -100px;
    left: 162px;
    width: 75px;
    height: 72px;

    background-image: url("../img/icons/icon-house.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-list li:nth-child(2) .features-item-name::before {
    content: "";

    position: absolute;
    top: -100px;
    left: 163px;
    width: 74px;
    height: 70px;

    background-image: url("../img/icons/icon-food.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-list li:nth-child(3) .features-item-name::before {
    content: "";

    position: absolute;
    top: -105px;
    left: 168px;
    width: 64px;
    height: 76px;

    background-image: url("../img/icons/icon-souvenir.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.features-item-description {
    width: 304px;
    margin: 0 auto;
}

.search-lead-in {
	margin: 0;
	padding: 0;
    padding-top: 55px;
    padding-bottom: 30px;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.search .search-description {
	margin-bottom: 45px;

    font-size: 14px;
    text-align: center;
}

.search-call-button {
	display: block;
    width: 568px;

    margin: 0 auto;
    padding: 30px 0;

    font-size: 21px;
    font-weight: bold;
    color: rgba(255, 255, 255, 100%);
    text-transform: inherit;
    background-color: #766357;
    border: none;
    outline: none;
}

.search-call-button:hover,
.search-call-button:focus {
    background-color: #604e43;
}

.search-call-button:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #503e33;
}

.modal-search {
    display: none;
}

/** Стили для модального окна поиска 

.modal-search {
    font-family: inherit;
    text-transform: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.date-select input[type="text"],
.visiters-select input[type="number"] {
    font-family: inherit;
    text-transform: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    outline: none;
    border: none;
}

.date-select input[type="text"]:hover {
    background-color: #ebebeb;
}

.date-select input[type="text"]:focus {
    background-color: #ffffff;
}

.modal-search .search-button {
    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: inherit;
    line-height: 26px;
    background-color: #81b3d2;
}

.modal-search .search-button:hover {
    background-color: #669ec0;
}

.modal-search .search-button:focus {
    color: #88b6d1;
    background-color: #5496bd;
}

**/

/** --------------------- СТИЛИ ДЛЯ СТРАНИЦЫ КАТАЛОГА ---------------------- **/

/** Фон для фильтра 
{
    background-image: url("../img/bg/bg-catalog.jpg");
    background-size: 1200px 800px;
    background-repeat: no-repeat;
    background-position: 40px -238px;
}
**/

.catalog-container {
    width: 1056px;
    margin: 0 auto;
    padding: 0;
}

.hotels-results {
    display: flex;
    flex-direction: column;
}

.hotels-card {
    display: flex;
    justify-content: flex-start;
    
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-bottom: 30px;
}

.hotels-card-photo img {
    display: block;
    margin: 0;
    padding: 0;
}

.hotels-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 30px;
}

.hotels-name {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;

    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.hotels-name a {
    display: block;

    margin: 0;
    margin-top: -6px;
    padding: 0;

    color: inherit;
}

.hotels-name a:hover,
.hotels-name a:focus {
    color: #81b3d2;
}

.hotels-name a:active {
    color: #b2b2b2;
}

.hotels-info-wrapper {
    display: flex;
}

.type-details-wrapper,
.price-book-wrapper {
    display: flex;
    flex-direction: column;
}

.type-details-wrapper {
    margin-right: 6px;
}

.hotels-type,
.hotels-price {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.hotels-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    margin-top: auto;
}

a.button-book, 
a.button-details {
    margin: 0;

    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: rgba(255, 255, 255, 100%);
}

a.button-details {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;

    background-color: #81b3d2;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #5496bd;
}

a.button-book {
    padding-top: 3px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;

    background-color: #766357;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #503e33;
}

.hotels-rank {
    margin-left: auto;
    position: relative;
}

p.hotels-rating {
    display: block;
    margin: 0;
    margin-top: 64px;
    padding: 0;
    padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 6px;
    padding-left: 16px;

    font-size: 14px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
}

p.hotels-stars {
    display: block;
    margin: 0;
    padding: 0;
    width: 90px;
}

.hotels-rating::before {
    content: "";

    width: 90px;
    height: 17px;
    position: absolute;
    top: 0;

    background-image: url("../img/icons/icon-star.svg");
    background-repeat: repeat-x;
    background-size: contain;
}

/** --------------------- СТИЛИ ДЛЯ ФУТЕРА ---------------------- **/

.main-footer {
    display: flex;
    align-items: center;
    background-color: rgba(254, 254, 254, 0.9);
}

.footer-tag {
    width: 400px;
    margin: 0;
    padding: 0;

    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-tag a {
    display: block;
    
    width: 130px;
    margin: 0 auto;
    padding: 0;

    font-weight: bold;
    color: inherit;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 400px;
    margin: 0;
    padding: 36px 0;
}

.footer-social-list li:not(:first-child) {
    margin-left: 6px;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 46px;
    height: 48px;
    margin: 0;
    padding: 0;

    background-color: #81b3d2;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 400px;
    padding-top: 36px;
    padding-bottom: 36px;
}

.footer-copyright span {
    margin: 0 10px 0 0;

    font-size: 14px;
}

.footer-copyright a,
.footer-copyright img {
	display: block;
    margin: 0;
    padding: 0;
}

