/** Общие стили **/

body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #000000;
    line-height: 26px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** Стили для хедера и навигации **/

.main-navigation {
    font-size: 14px;
    line-height: 26px;
}

.site-navigation,
.advantages-list,
.features-item,
.footer-social-list {
    list-style: none;
}

.site-navigation a {
    font-weight: bold;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: #b2b2b2;
}

.current-page {
    font-weight: bold;
    color: #766357;
}

/** Стили для главной **/
.background-logo {
    height: 559px;
    background-image: 
    url("../img/bg/bg-welcome.png"), 
    url("../img/bg/bg-polygon.svg"),
    url("../img/bg/bg-mountains.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;

    background-size: 459px 353px, 1201px 59px, 1200px 800px;
}

.advantages-slogan {
    font-weight: bold;
}

.advantages-lead-in {
    font-size: 14px;
}

.advantages {
	font-size: 14px;
	line-height: 21px;
    text-align: center;
}

.advantages-item-name,
.features-item-name {
    font-size: 21px;
    font-weight: bold;
}

.search-description {
    font-size: 14px;
    text-align: center;
}

.search-lead-in {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.search-call-button {
    width: 568px;
    height: 86px;
    font-size: 21px;
    font-weight: bold;
    color: rgba(255, 255, 255, 100%);
    text-transform: inherit;
    background-color: #766357;
    border: none;
    outline: none;
}

.search-call-button:hover,
.search-call-button:focus {
    background-color: #604e43;
}

.search-call-button:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #503e33;
}

.modal-search {
    display: none;
}

/** Стили для модального окна поиска 

.modal-search {
    font-family: inherit;
    text-transform: inherit;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}

.date-select input[type="text"],
.visiters-select input[type="number"] {
    font-family: inherit;
    text-transform: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    border-collapse: collapse;
    background-color: #f2f2f2;
    outline: none;
    border: none;
}

.date-select input[type="text"]:hover {
    background-color: #ebebeb;
}

.date-select input[type="text"]:focus {
    background-color: #ffffff;
}

.modal-search .search-button {
    font-family: inherit;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-transform: inherit;
    line-height: 26px;
    background-color: #81b3d2;
}

.modal-search .search-button:hover {
    background-color: #669ec0;
}

.modal-search .search-button:focus {
    color: #88b6d1;
    background-color: #5496bd;
}

**/

/** Стили для страницы каталога **/

/** Фон для фильтра 
{
    background-image: url("../img/bg/bg-catalog.jpg");
    background-size: 1200px 800px;
    background-repeat: no-repeat;
    background-position: 40px -238px;
}
**/

.hotels-name {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.hotels-name a {
    display: block;
    color: inherit;
}

.hotels-name a:hover,
.hotels-name a:focus {
    color: #81b3d2;
}

.hotels-name a:active {
    color: #b2b2b2;
}

.hotels-type-price {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.hotels-book a {
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    color: rgba(255, 255, 255, 100%);
}

.button-details {
    background-color: #81b3d2;
}

.button-details:hover,
.button-details:focus {
    background-color: #669ec0;
}

.button-details:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #5496bd;
}

.button-book {
    background-color: #766357;
}

.button-book:hover,
.button-book:focus {
    background-color: #604e43;
}

.button-book:active {
    color: rgba(255, 255, 255, 70%);
    background-color: #503e33;
}

.hotels-rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    background-color: #f2f2f2;
}

/** Стили для футера **/

.footer-tag {
    font-weight: bold;
}

.footer-copyright span {
    font-size: 14px;
}